/* styles/globals.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

main {
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}

h1 {
  font-size: 2.5rem;
  color: #333;
  text-align: center;
}

.postList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
